body{
    background-color: slategray;
}

header{
text-align: center;
}

h2{
    color:black;
}

#navbar {
    background-color: grey;
    color: #ffffff;
    border: 5px solid darkblue;
  }
  
  /* List items in navigation bar */
 #navbar-links {
    /* Sets display to inline */
    display: inline;
    list-style-type: none;
    font-size: 25px;
    margin: 15px;
 }

.info {
    background-color: lightslategray;
    color: white;
    width: 100%;
    text-align: left;
    border: 5px solid black;
    padding:10px;
    margin: 15px;
}

.img{
    width:300x;
    height:360px;
    border: 5px solid black;
}

#firstapp {
    width:500x;
    height:750px;
    border: 5px solid black;   
}